<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <script src="~/Scripts/jquery-3.1.0.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="/signalr/hubs/"></script>


    <script type="text/javascript">
        $(function () {
            var hub = $.connection.gameHub; //Saves connection in "hub"-variable
            hub.client.hello = function (message) {     //Assigns hello() to client
                $("#result").append("<li>" + message + "</li>");
            };

            $.connection.hub.start().done(function () { //Opens connection to the Hub
                hub.server.hello();                     //Calls hello() from Hub
            })

            var writeText = function () {
                hub.server.hello($("#TeamName").val());
            }

            document.getElementById("buttonClick").onclick = function () {
                hub.server.hello($("#TeamName").val());
            }

        })

    </script>
</head>
<body>
    <h1>Index</h1>
    <div>
        <ul id="result">

        </ul>
    </div>
    <form id="TeamNameForm">
        <input type="text" placeholder="Team Name" id="TeamName" value="hej" />
        <input type="button" id="buttonClick" onclick="writeText()" value="Submit">
    </form>

</body>
</html>