<h1 data-ng-init="vm.getIncorrectAnswers()">Charade - Participant</h1> 

<h1><span class="time-text"><label class="timer"></label></span><br /> seconds to go..</h1>
<p>List of Adj</p>
<div id="alternatives" data-ng-hide="vm.guessed" data-ng-repeat="list in vm.alternatives">
    <div id="$index" ></div><div id="myDiv + $index" data-ng-repeat="answer in list">
        <ul>
            <li><button name="{{answer}} $parent.$index" data-ng-click="vm.submitGuess()"> {{answer}}</button></li>
        </ul>
    <br />
    <br />
    </div>
    {{$index}}
</div>
<div data-ng-show="vm.guessed"> Show och hide funkar</div> <!--Visas när de har gissat-->

<button data-ng-click="vm.submitGuess()">Submit Guess</button>

<a href="#Score">Next Phase</a>

        <!--//    for (var i = 0; i < alternatives.length; i++) {
        //        var tmpstr = "<div id='" + i + "'></div><div id='myDiv" + i + "'>
    <ul>
        ";

        //        for (var j = 0; j < alternatives[i].length; j++) {
        //            tmpstr += "
        <li> <button name='" + alternatives[i][j].Description + i + "' data-ng-click='vm.submitGuess()'>" + alternatives[i][j].Description + "</button> </li>"
        //        };

        //        tmpstr += "
    </ul>
</div> </br></br>";

        //        //angular.element(document.getElementById('alternatives')).append($compile(tmpstr)($scope));
        //        $("#alternatives").append(tmpstr);
        //    };-->

<!--<script>

         function checkBtn(event) {
               alert(event.target.name);
         }
</script>


<br /><br />
<input type="submit" name="save" id="save" onClick="checkBtn(event)" /><br />
<input type="submit" name="update" id="update" value="Update" onClick="checkBtn(event)" /><br />
<input type="submit" name="delete" id="delete" value="Delete" onClick="checkBtn(event)" /-->
><br />