<div>
    <div data-ng-init="vm.printGameCode()">
        <ul id="result"></ul>
    </div>
    <div class="container" id="login-container">
        <div class="col-centered">
            <h1 class="header-page">Create Team</h1>
            <div id="GameCode"></div>
            <span data-ng-if="TeamNameForm.GameCode.$error.required && TeamNameForm.GameCode.$dirty">Enter a game code!</span>
            <input type="text" placeholder="Team Name" id="TeamName" name="TeamName" class="text-input" data-ng-keydown="vm.pressEnter($event)" required />
            <span data-ng-if="TeamNameForm.TeamName.$error.required && TeamNameForm.TeamName.$dirty">Enter a team name!</span>
            <button id="createTeamButton" data-ng-disabled="TeamNameForm.$invalid" data-ng-click="vm.createTeam(); vm.playKnappvalj()">Submit</button>

        </div>
    </div>

</div>