<h1>Lobby for Host</h1>
<h3>Code to join: <strong>{{vm.gameData.GameCode}}</strong></h3>
<div>
    <ul id="teamList">
        <li data-ng-repeat="team in vm.gameData.Teams">{{team.Name}}</li>
    </ul>
</div>

<div id="options">
    <h3>Options</h3>
</div>
<button data-ng-click="vm.startCharade()">Start Game</button>
<br />
<br />


<a href="#WaitingRoomActor">Next Phase (Actor)</a>
<a href="#WaitingRoomOpponent">Next Phase (Oppponent)</a>
<!--<a href="#PreCharadeParticipant">Next Phase (Participant)</a>-->