<md-dialog aria-label="Options">
    <md-dialog-content>
        <div>
        <h2>Options</h2>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Rounds</p><input type="number" />
            </div>
        </div>
        <md-dialog-actions layout="row">
            <button class="btn btn-danger pull-right">Ok</button>
            <button class="btn btn-danger pull-right">Back</button>
        </md-dialog-actions>
        </div>
    </md-dialog-content>
</md-dialog>