<div class="container-fluid" id="lobby-container">
    <h1 class="header-page">Lobby</h1>
    <h3 class="lobby-code"><span class="gamecode-text">{{vm.game.GameCode}}</span> <br /> Code to join </h3>
    <div>
        <ul class="teamList">
            <li data-ng-repeat="team in vm.game.Teams" class="lobby-teamList">{{team.Name}}</li>
        </ul>
    </div>
    <button data-ng-click="vm.leaveLobby(); vm.playKnappJoin()" id="startGameButton" class="clickable-button">Start Game</button>
    <button id="startGameButton" class="clickable-button" data-ng-click="vm.openModal()">Options</button>

    <div>
        <h1>Rounds To Play:</h1>
        <table>
            <tr ng-repeat="subscription in vm.entities">
             
                <td>
                    <label>{{subscription.name}}</label>
                    <input type="checkbox" ng-model="subscription.checked" data-ng-click="vm.updateSelection($index, vm.entities)" />
                </td>
            </tr>
        </table>
    </div>

</div>
