<div class="container full">
    <div class="row">
        <img class="img-responsive center-block" src="../../../includes/images/horrible_charades_logo.svg" id="logo" />
        <div id="face-container" class="col-lg-5 col-centered">
            <ul>
                <li>
                    <a href="#CreateTeamHost" class="btn main-menu-btn" id="new-game">New<br /> Game</a>
                </li>
                <li>
                    <a href="#CreateTeamGuest" class="btn main-menu-btn" id="join-game">Join<br /> Game</a>
                </li>
            </ul>
        </div>
    </div>
</div>
