<div class="container full">
        <img class="img-responsive center-block" src="../../../includes/images/horrible_charades_logo.svg" id="logo" />
        <div id="face-container" class="col-lg-5 col-centered">
            <ul>
                <li>
                    <div data-ng-click="vm.createGame()"><a href="#" class="btn main-menu-btn" id="new-game" onclick="play()">New<br /> Game</a></div>
                </li>
                <li>
                    <a href="#CreateTeamGuest" class="btn main-menu-btn" id="join-game" onclick="play()" >Join<br /> Game</a>
                </li>
            </ul>
    </div>


    <script>
        var play = function () {
            var audio = new Audio("sounds/Knappvalj.mp3");
            audio.play();
        }
    </script>
</div>



