<div class="container full">
    <!--<div class="row">-->
        <img class="img-responsive center-block" src="../../../includes/images/horrible_charades_logo.svg" id="logo" />
        <div id="face-container" class="col-lg-5 col-centered">
            <ul>
                <li>
                    <a href="#CreateTeamHost" class="btn main-menu-btn" id="new-game" onclick="play()">New<br /> Game</a>
                </li>
                <li>
                    <a href="#CreateTeamGuest" class="btn main-menu-btn" id="join-game" onclick="play()" >Join<br /> Game</a>
                </li>
    
            </ul>
        <!--</div>-->
    </div>

    <!--<div id="myDiv">
        <button name="b1" onclick="hide(event)" value="B1">B1</button>
        <button name="b2" onclick="hide(event)" value="B2">B2</button>

    </div>

    <div id="anotherDiv1"></div>

    <div id="anotherDiv2"></div>

    <script>
        var hide = function (event) {
            $("#myDiv").hide()

            var i = event.target.name[event.target.name.length - 1];
            $("#anotherDiv" + i).append(event.target.name);
            console.log("running")
        }
    </script>-->

    <script>
        var play = function () {
            var audio = new Audio("sounds/Knappvalj.mp3");
            audio.play();
        }
    </script>
</div>


