
<h1>Pre-Charade - Actor</h1>
<p>Timer</p> 



<p>Icons</p>






<br />
<h1 id="charade" data-ng-init="vm.getNoun()">Charade</h1>
<br />
<br />
<p>POWERUPS</p>
<br />

<div id="powerUpContainer"> 

</div>
<div class="container" id="charadeContainer">
    
</div>
<!--Knappen hämtar ett Adjektiv och lägger till det på sidan.-->
<button data-ng-click="vm.getAdjective()" >Klicka för Adjektiv</button>

<input type="button" data-ng-click="vm.getVerb()" value="Klicka för Verb" />

<input type="button" data-ng-click="vm.timer()" value="Klicka för timer" />

<a href="#CharadeActor">Next Phase (Actor)</a>

<a href="#CharadeParticipant">Next Phase (Participant)</a>


<br />
<p>POWERUPS</p>
<div id="powerUpContainer"> 
    <ul>
        <li data-ng-repeat="PowerUp in vm.gameData.Teams[vm.myTeam].PowerUps"> {{PowerUp.Description}} </li>
        <li> <input type="button" data-ng-click="vm.shuffleCharade()" value="Klick to shuffle your charade!" /> </li>
    </ul>
</div>
