<div class="container-fluid" id="pre-charade-participant-container">
    <h1 class="header-page">Charade Setup</h1>
    <h1><span class="time-text" data-ng-init="vm.startTimer(10)">{{vm.timeLeft}}</span><br /> seconds to go..</h1>
    <div class="row" id="funkUpContainer">
            <p>{Team}'s turn! funk up their charade!</p>
            <ul id="funkup-list">
                <li data-ng-repeat="FunkUp in vm.gameData.Teams[vm.myTeam].FunkUps" id="funkup-list-item"><div ng-bind-html="FunkUp.HTMLString ">{{FunkUp.HTMLString}}</div></li>
            </ul>

    </div>
</div>


<a href="#CharadeActor">Next Phase (Actor)</a>

<a href="#CharadeParticipant">Next Phase (Participant)</a>

