<div class="container-fluid centered-container">
    <h4 class="time-container"><span class="time-text timer">10</span></h4>
    <p class="timer-description">until charade starts..</p>
    <div class="charadeContainer" data-ng-init="vm.getNoun(); vm.startTimer()">
        <p class="info-text">Your charade is: </p>
    </div>
    <!--<h1 class="powerup-header">POWERUPS</h1>-->
    <div id="powerUpContainer">
        <ul>
            <!--<li data-ng-repeat="PowerUp in vm.gameData.Teams[vm.myTeam].PowerUps"><button class="btn btn-default" data-ng-click="vm.activatePowerUp(PowerUp.ID)">{{PowerUp.Description}}</button></li>-->
        </ul>
        <div class='btn powerup clickable-button' data-ng-click='vm.activatePowerUp(2)'><span class="glyphicon glyphicon-refresh"><br /></span><p class='powerup-text'> Shuffle<br />Charade</p></div>
    </div>
    <!--Knappen hämtar ett Adjektiv och lägger till det på sidan.-->
    <br />
    <a href="#CharadeActor">GO TO CHARADE</a>

    <!--Knapp för att testa Timern inom controllern-->
    <!--<button data-ng-click="vm.startTimer()">start timer</button>-->

    <!--<a href="#CharadeParticipant">Next Phase (Participant)</a>-->
</div>