
<h1>Pre-Charade - Actor</h1>
<p>Timer</p> 

<p>Icons</p>

<br />
<h1 id="charade" data-ng-init="vm.getNoun()">Charade</h1>
<br />
<br />

<div class="container" id="charadeContainer">
    
</div>
<!--Knappen hämtar ett Adjektiv och lägger till det på sidan.-->
<button data-ng-click="vm.getAdjective()" >Klicka för Adjektiv</button>
<a href="#CharadeActor">Next Phase</a>

<input type="button" data-ng-click="vm.getVerb()" value="Klicka för Verb" />
<a href="#CharadeActor">Next Phase</a>

<input type="button" data-ng-click="vm.timer()" value="Klicka för timer" />

<br />
<p>POWERUPS</p>
<div id="powerUpContainer"> 
    <ul>
        <li data-ng-repeat="PowerUp in vm.gameData.Teams[vm.myTeam].PowerUps"> {{PowerUp.Description}} </li>
    </ul>
</div>
