<div class="container-fluid" id="score-container" >
    <h1 class="header-page">Score - Other Teams' Guesses</h1>
    <br />
    <h4 class="header-page">Correct Charade was: <br />
            {{vm.game.CurrentCharade.Adjective[0].Description}} {{vm.game.CurrentCharade.Adjective[1].Description}}
            {{vm.game.CurrentCharade.Noun.Description}} {{vm.game.CurrentCharade.Verb[0].Description}} {{vm.game.CurrentCharade.Verb[1].Description}}</h4>
    <div  id="TeamName-list-item" class="a">
        <ul>
            <li data-ng-repeat="team in vm.game.Teams" class="score-teamList">{{team.Name}}</li>
        </ul>

    </div>
    <div data-ng-init="vm.startTimer()" id="TeamName-list-item" class="b">
        <ul>
            <li data-ng-repeat="team in vm.game.Teams" class="score-scoreList">{{team.TurnPoint}}</li>
        </ul>

    </div>

    <button id="tuta" data-ng-click="vm.playJubel()">Applause</button>

</div>
<a href="#TotalScore">Next Phase</a>
<!-- Kom ihåg att reseta turnpoint och öka på turn i game -->
