<div class="container-fluid" id="score-container" data-ng-init="vm.showStandings()">
    <h1 class="header-page">Score - Other Teams' Guesses</h1>
    <div  id="TeamName-list-item" class="a">
        <ul>
            <li data-ng-repeat="team in vm.gameData.Teams" class="score-teamList">{{team.Name}}</li>
        </ul>

    </div>
    <div  id="TeamName-list-item" class="b">
        <ul>
            <li data-ng-repeat="team in vm.gameData.Teams" class="score-scoreList">{{team.TurnPoint}}</li>
        </ul>

    </div>

    <button id="tuta" data-ng-click="vm.playJubel()">Applause</button>

    <label data-ng-show="false" class="timer">5</label>
</div>
<a href="#TotalScore">Next Phase</a>
<!-- Kom ihåg att reseta turnpoint och öka på turn i game -->