<div class="container-fluid" id="score-container" data-ng-init="vm.showTeams()">
    <h1 class="header-page">Score - Other Teams' Guesses</h1>
    <div data-ng-repeat="team in vm.gameData.Teams" id="TeamName-list-item" class="a">
        <ul>
            <li class="score-teamList">{{team.Name}}</li>
        </ul>

    </div>
    <div data-ng-repeat="team in vm.gameData.Teams" id="TeamName-list-item" class="b">
        <ul>
            <li class="score-scoreList">{{team.TurnPoint}}</li>
        </ul>

    </div>

    <button id="tuta" data-ng-click="vm.playJubel()">Applause</button>

</div>
<a href="#TotalScore">Next Phase</a>
<!-- Kom ihåg att reseta turnpoint och öka på turn i game -->