<!--<div class="container-fluid" id="score-container">
    <h1 class="header-page">Total Score</h1>
    <ul class="teamList">
        <li class="score-teamList">Team1</li>
        <li class="score-teamList">Team2</li>
        <li class="score-teamList">Team3</li>
    </ul>

    <a href="#WaitingRoom">Next Phase</a>
</div>-->

<div class="container-fluid" id="score-container">
    <h1 class="header-page">Total Score</h1>
    <div class="a">
        <ul>
            <li class="score-teamList">Team1</li>
            <li class="score-teamList">Team2</li>
            <li class="score-teamList">Team3</li>
        </ul>
    </div>
    <div class="b">
        <ul>
            <li class="score-scoreList">300</li>
            <li class="score-scoreList">205</li>
            <li class="score-scoreList">160</li>
        </ul>
    </div>
    <label data-ng-show="false" class="timer">5</label>
</div>
