<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
</head>
<body>
    @RenderBody()

    @*--------------Libs------------------*@
    <script src="~/Scripts/libs/jquery.signalR-2.2.1.js"></script>
    <script src="~/Scripts/libs/angular.js"></script>
    <script src="~/Scripts/libs/angular-route.js"></script>
    <script src="~/signalr/hubs/"></script>
    <script src="~/Scripts/libs/bootstrap.js"></script>
    @*--------------Scripts------------------*@
    @*<script src="~/Scripts/temp.js"></script>*@
    <script src="~/Scripts/js/angular/mainContent.js"></script>
    <script src="~/Scripts/js/angular/signalRService.js"></script>
    <script src="~/Scripts/js/angular/gameService.js"></script>
    <script src="~/Scripts/js/angular/contentController.js"></script>
    @*--------------CSS------------------*@
    <link href="~/includes/css/main.css" rel="stylesheet" />
</body>
</html>
